<ng-container>
  <div>
    <h2>Landing page of Application</h2>
  </div>
</ng-container>
<ng-container>
  <div>
    <h3>Angular Data-Bindings</h3>
    <nav>
      <a routerLink="/string-interpolation">string-interpolation</a> |
      <a routerLink="/propertyBinding">property-binding</a> |
      <a routerLink="/eventBinding">event-binding</a>|
      <a routerLink="/twoway-Binding">two-way Binding</a> |
    </nav>
  </div>
  <div>
    <h3>Angular Directives</h3>
    <nav>
      <a routerLink="/ng-if">if-condition</a> |
      <a routerLink="/ng-if-else">if-else-condition</a> |
      <a routerLink="/ng-switch">switch-condition</a>|
      <a routerLink="/ng-for">for-condition</a> |
    </nav>
  </div>
  <div>
    <h3>Component Communication</h3>
    <nav>
      <a routerLink="/comp-interaction">parent component call</a>
    </nav>
  </div>
  <div>
    <h3>Routing</h3>
    <nav>
      <a routerLink="/routing">routing</a>
    </nav>
  </div>
</ng-container>
<!-- Router outlet to show routing -->
<router-outlet></router-outlet>
