/* .created-hari {
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(0px);
} */
.header {
  display: flex;
  align-items: center;
}

.button {
  margin: 2.5px 2.5px 2.5px 2.5px;
  padding: 0.5em 0.5em 0.5em 0.5em;
  border-radius: 5px;
  color: white;
  background-color: #df2935;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
}

.button:hover {
  color: black;
  background-color: #f4d8cd;
}

.header-heading {
  text-align: left;
  font-size: 40px;
  font-weight: 600;
  background-image: radial-gradient(circle, #553c9a, #ee4b2b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.home {
  margin: 0px 10px 0px auto;
}

.navigation {
  display: flex;
}

h5 {
  display: flex;
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
  color: transparent;
  background-image: radial-gradient(circle, #553c9a, #ee4b2b);
  background-clip: text;
  -webkit-background-clip: text;
}
